<div style="height: 100vh; display: flex; flex-direction: column">
  <app-navbar/>
  <div class="container-xl d-flex flex-grow-1 d-flex justify-content-center align-items-center">

    <mat-card style="display: block; padding: 20px; max-width: 1200px;">
      <div class="row">
        <div class="col-12 col-md-6">
          <img src="../../assets/login-ilustration.png" alt="login ilustration" class="img-fluid" >
        </div>

        <div class="col-12 col-md-6">
          <h1 class="text-center my-2">Prihlasenie</h1>

          <div #collapse="ngbCollapse" [(ngbCollapse)]="!isError" class="bg-danger text-white rounded">
            <div class="row py-2 px-3">
              <div class="col-8 d-flex align-items-center">
                <p class="mb-0">{{ errorMessage }}</p>
              </div>

              <div class="col-4 d-flex justify-content-end">
                <button class="btn close btn-danger" ngbPopover="Close" (click)="collapse.toggle(); closeCollapse()">
                  <h3 class="mb-0" aria-hidden="true">&times;</h3>
                </button>
              </div>
            </div>
          </div>

          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="row">
              <div class="col-12 my-3">
                <mat-form-field appearance="outline" style="width: 100%" [hideRequiredMarker]="true">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email">
                  <mat-error *ngIf="loginForm.get('email')?.hasError('required') && !loginForm.get('email')?.valid">
                    Email is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12">
                <mat-form-field appearance="outline" style="width: 100%" [hideRequiredMarker]="true">
                  <mat-label>Heslo</mat-label>
                  <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password">
                  <button type="button" mat-icon-button matSuffix
                          (click)="showPassword = !showPassword"
                          [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
                  >
                    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                  <mat-error *ngIf="loginForm.get('password')?.hasError('required') && !loginForm.get('password')?.valid">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-12 mb-2">
                <mat-checkbox (change)="changeKeepLoggedIn()" color="primary">Zostat prihlaseny</mat-checkbox>
              </div>

              <div class="col-12 mb-2">
                <p style="cursor: pointer" class="link-primary" (click)="redirectToRegister()">Nemate vytvoreny ucet? Zaregistrujte sa</p>
              </div>
            </div>

            <div class="d-grid gap-2">
              <button class="" mat-raised-button color="primary">Prihlasit sa</button>
              <button type="button" mat-raised-button color="primary">
                <mat-icon fontIcon="Google" ></mat-icon>
                Login with Google
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
